.movie-view {
  margin: 100px;
}

.poster {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: auto;
  padding: 50px;
}

p.card-text {
  text-align: left;
}

.fav-button {
  margin-left: 15px;
}